body {
    background-image: url(Images/WebBackground.png);
    font-family: 'Splatoon Font', Fallback, sans-serif;
}

p {
    font-family: 'Splatoon Font', Fallback, sans-serif;
    color: aliceblue;
}

h1{
    height: 250px;
}

footer{
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
}

.left {
    position:absolute;
    min-height: 800px;
    left:0; top:250px; bottom: 50px;
    width: 250px;
    font-size: 1.5em;
}
.main {
    position: absolute;
    left:250px; top:250px; right:0; bottom:0;
    color:aliceblue;
}



#h1-1{
    float: left;
    color: aliceblue;
    font-size: 2em;
    padding: 0;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 40px;

}

#h1-2{
    color: aliceblue;
    font-size: 3.5em;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 1000px;
    padding-top: 40px;
    padding-right: 300px;
    /*margin-top: 25px;*/
}

#h1-3{
   float: right;
   position: absolute;
    z-index: 10;
    top: 10px;
    right: -25px;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;

}

#table-format{
    float:left;
    text-align: left;
}

th{
    color: aliceblue;
}

td{
    color: aliceblue;
}


@font-face{
    font-family: "Splatoon Font";
    src: url(Font/paintball_beta_2.otf),
    url('Splatoon Font.eot'); /* IE */
}