body {
    background-image: url(Images/WebBackground.png);
    font-family: 'Splatoon Font', Fallback, sans-serif;
}

.h1{
    line-height: :300px;
}

#h1-1{
    float: left;
    color: aliceblue;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 25px;
}

#h1-2{
    color: aliceblue;
    font-size: 3.5em;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 1000px;
}

#h1-3{
   float: right;
   position: absolute;
    z-index: 10;
    top: 10px;
    right: -25px;
}

@font-face{
    font-family: "Splatoon Font";
    src: url(Font/paintball_beta_2.otf),
    url('Splatoon Font.eot'); /* IE */
}